@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');

/* font-family: 'Barlow Condensed', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');

/* font-family: 'Encode Sans Expanded', sans-serif; */


:root{
    --cor01:#131112;
    --cor02:#09BC8A;
    --cor03:#FFFDED;
    --cor04:#031926;
    --cor05:#576CA8;
}


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px; 
}



body{
    background-color: var(--cor05);
}

header{
    box-shadow: 3px 3px 35px rgba(0, 0, 0, 0.304);
    margin-top: -20px;
    /* background-color:var(--cor02); */
    margin-bottom: 5px;
    height: 130px;
}
nav{
    /* box-shadow: 3px 9px 7px rgba(0, 0, 0, 0.4); */
    margin-top: 0px;
    /* background-color: var(--cor03); */
    padding: 0;
}

a{
    padding-left:6px ;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
 
}


.link{
    font-family: 'Encode Sans Expanded', sans-serif; 
    font-weight: bold;
    padding-top: 0px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--cor03);
}

.link::before, .link::after{
    margin-top: 2px;
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    height: 2.5px;
    background-color:var(--cor03);
    transform: scaleX(0);
    transition: transform .25s;

}

.link::before{
    top:-3px;
    transform-origin: left;
}

.link::after{
    bottom: -3px;
    transform-origin: right;
}

.link:hover::before, .link:hover::after{
    transform: scaleX(1);
}

header > h1 {
    margin-top: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3em;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    text-align: center;
    padding-top: 25px;
}

main{
    margin: auto;
    width: 95vw;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: var(--cor02)
}

h2{
    padding-top: 10px;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}
section{
    position: relative;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 500px;
    background-color: white;
}
  
section > div{
    position: relative;
    display: block;

}

div.cont{
    position: absolute;
    width: 93vw;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Encode Sans Expanded', sans-serif;
    padding-top: 10px;
    margin-right: 10px;
    margin-left:10px ;
    text-align: justify;
    color: white;
}

footer{
    /* width: 100vw; */
    margin-top:0px ;
    padding: 0px;
    background-color:var(--cor01);
    color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}
footer > p{
    font-family: 'Encode Sans Expanded', sans-serif;
    padding: 0px;
    text-align: center;
}


a{
    color: white;
    text-decoration: none;
}